<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/script/script.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="nav" id="myTopnav">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <a href="">Contact</a>
        <a href="blog.html"style="color: #FF6464;"> Blog</a>
        <a href="works.html">Works</a>
        <a href="index.html" >Home</a>
        
    </div>

    <div class="work" style="background-color: white; margin-top: 30px;">
        <h2 style="margin-bottom: 90px;font-size: 50px; color: #21243D;">Blog</h2>
       
        <div class="card-feature">
            <div class="column-detail">
                <h3 class="card-title" style="color: #21243D;">UI Interactions of the week</h3>
                <p class="inline-year"  style="color: #21243D;">12 Feb 2019</p> 
                <p class="inline-gray">|</p>
                <p class="inline-gray">Express, Handlebars</p>
                <div class="card-desc">
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>

        <div class="card-feature">
            
            <div class="column-detail">
                <h3 class="card-title"  style="color: #21243D;">UI Interactions of the week</h3>
                <p class="inline-year" style="color: #21243D;">12 Feb 2019</p> 
                <p class="inline-gray">|</p>
                <p class="inline-gray">Express, Handlebars</p>
                <div class="card-desc">
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>

        <div class="card-feature">
           
            <div class="column-detail">
                <h3 class="card-title"  style="color: #21243D;">UI Interactions of the week</h3>
                <p class="inline-year" style="color: #21243D;">12 Feb 2019</p> 
                <p class="inline-gray">|</p>
                <p class="inline-gray">Express, Handlebars</p>
                <div class="card-desc">
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>
        <div class="card-feature">
           
            <div class="column-detail">
                <h3 class="card-title"  style="color: #21243D;">UI Interactions of the week</h3>
                <p class="inline-year" style="color: #21243D;">12 Feb 2019</p> 
                <p class="inline-gray">|</p>
                <p class="inline-gray">Express, Handlebars</p>
                <div class="card-desc">
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>
    </div>


    <footer class="section-footer">
        <div>
            <a href=""><i class="fa fa-facebook-official" style="font-size:48px;color:#172951"></i></a>
            <a href=""><i class="fa fa-instagram" style="font-size:48px;color:#172951"></i></a>
            <a href=""><i class="fa fa-twitter" style="font-size:48px;color:#172951"></i></a>

            <a href=""><i class="fa fa-linkedin-square" style="font-size:48px;color:#172951"></i></a>
            
        </div>

        <div>
            <p>Copyright ©2020 All rights reserved </p>
        </div>
    </footer>




    <script src="/script/script.js"></script>
</body>
</html>