<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="script.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="nav" id="myTopnav">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <a href="">Contact</a>
        <a href="blog.html"> Blog</a>
        <a href="works.html">Works</a>
        <a href="index.html" style="color: #FF6464;">Home</a>

    </div>
    <div class="work" style="background-color: white; margin-top: 30px;">
    <section class="main-blog-detail">
        <div class="profile">
            <img src="/img/profile.png" class="shadow" alt="" >
        </div>
        <h3 class="card-titler" style="color: #21243D; ">Hi, I am John,
            <br>Creative Technologist
        </h3>
        <div class="card-desc">
            <p style="color: #21243D;">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <br>
                Velit officia consequat
                duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
        </div>
        <div class="btn">
            <button class="btnDownlaod">Download Resume</button>
        </div>
    </section>
    </div>
 
    <div class="work" >
        <div class="header-post">
            <div class="flex">
                  <p class="inline-title" style="font-size: 30px; color: #21243D;">Resent posts</p>
            </div>
          
            <a href="work_detail.html" class="inline-right" style="font-size: 30px; margin-top: 5px;margin-right: 10px;">View all</a>
        </div>
        <div class="flex-container">
            <div class="flex-item-left">
                <div class="card-post">
                    <h1 style="color: #21243D;">Making a design system from scratch</h1>
                    <p style="color: #21243D;"> 12 Feb 2020 | Design, Pattern</p>
                    <br>
                    <p style="color: #21243D;">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            <div class="flex-item-right">
                <div class="card-post">
                    <h1 style="color: #21243D;">Making a design system from scratch</h1>
                    <p style="color: #21243D;"> 12 Feb 2020 | Design, Pattern</p>
                    <br>
                    <p style="color: #21243D;">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="work" style="background-color: white; margin-top: 30px;">
        <p class="card-titler" style="font-size: 30px; color: #21243D; margin-bottom:20px;">Feature Works</p>
        <div class="card-feature">
            <div class="image-feature">
                <img src="/img/Rectangle 30.png" alt="" class="card-image">
            </div>

            <div class="column-detail">
                <h3 class="card-title" style="color: #21243D;">Designing Dashboards</h3>
                <p class="inline-pill">2020</p>
                <p class="inline-gray">Dashboard</p>
                <div class="card-desc">
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>

        <div class="card-feature">
            <img src="/img/Rectangle 32.png" alt="" class="card-image">
            <div class="column-detail">
                <h3 class="card-title" style="color: #21243D;">Vibrant Portraits of 2020</h3>
                <p class="inline-pill">2018</p>
                <p class="inline-gray">Illustration</p>
                <div class="card-desc">
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>

        <div class="card-feature">
            <img src="/img/Rectangle 34.png" alt="" class="card-image">
            <div class="column-detail">
                <h3 class="card-title" style="color: #21243D;">36 Days of Malayalam Type</h3>
                <p class="inline-pill">2018</p>
                <p class="inline-gray">Typography</p>
                <div class="card-desc">
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>
    </div>


    <footer class="section-footer">
        <div>
            <a href=""><i class="fa fa-facebook-official" style="font-size:48px;color:#172951"></i></a>
            <a href=""><i class="fa fa-instagram" style="font-size:48px;color:#172951"></i></a>
            <a href=""><i class="fa fa-twitter" style="font-size:48px;color:#172951"></i></a>

            <a href=""><i class="fa fa-linkedin-square" style="font-size:48px;color:#172951"></i></a>
            
        </div>

        <div>
            <p>Copyright ©2020 All rights reserved </p>
        </div>
    </footer>

    <script src="/script/script.js"></script>
</body>

</html>