<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/script/script.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<div>
    <div class="nav" id="myTopnav">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <a href="">Contact</a>
        <a href="blog.html"> Blog</a>
        <a href="works.html">Works</a>
        <a href="index.html" style="color: #FF6464;">Home</a>
        
    </div>
    <div class="work" style="background-color: white; margin-top: 30px;">
    <section class="main-wrok-detail" style="margin-top:5% ;">
        <div class="card-featurer" style="padding: 30px;">
            <div class="column-detail">
                <h3 class="card-title">Designing Dashboards with <br> usability in mind</h3>
                <p class="inline-pill" style="background-color: #FF6464;font-size: 20px;font-weight: bold;">2018</p>
                <p class="inline-gray">Typography</p>
                <div class="card-desc">
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. <br> Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            <div>
                <img src="/img/Rectangle 4@2x.png" alt="" class="responsive" width="800" height="700">
            </div>
        </div>
        

       
    </section>


    <section class="main-wrok-detail" style="margin-top:5% ;">
        <div class="card-featurer" style="padding: 30px;">
            <div class="column-detail">
                <h1 class="card-title"style="font-size: 50px; color: #21243D;">Heading 1</h1>
                <h2 style="font-size: 30px;color: #21243D;" >Heading 2</h2>
                <p class="inline-pill" style="background-color: #FF6464;font-size: 20px;font-weight: bold;">2018</p>
                <p class="inline-gray">Typography</p>
                <div class="card-desc">
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. <br> Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            <div>
                <img src="/img/Rectangle 5.png" alt="" class="responsive" width="800" height="700">
            </div>
            <div>
                <img src="/img/Rectangle 6.png" alt="" class="responsive" width="800" height="700">
            </div>
        </div>
        

       
    </section>
</div>


    
<footer class="section-footer">
    <div>
        <a href=""><i class="fa fa-facebook-official" style="font-size:48px;color:#172951"></i></a>
        <a href=""><i class="fa fa-instagram" style="font-size:48px;color:#172951"></i></a>
        <a href=""><i class="fa fa-twitter" style="font-size:48px;color:#172951"></i></a>

        <a href=""><i class="fa fa-linkedin-square" style="font-size:48px;color:#172951"></i></a>
        
    </div>

    <div>
        <p>Copyright ©2020 All rights reserved </p>
    </div>
</footer>




    <script src="/script/script.js"></script>
</body>
</html>